apiVersion: v1
kind: Service
metadata:
  name: {{ include "k8s-dashboard.fullname" . }}
  labels:
    {{- include "k8s-dashboard.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - protocol: TCP
      name: oauth2
      port: 4180
      targetPort: oauth2
    - protocol: TCP
      name: http
      port: 80
      targetPort: http
  selector:
    {{- include "k8s-dashboard.selectorLabels" . | nindent 4 }}